nav{
    height: 100px;
    display: grid;
    place-items: center;
    position: sticky;
    top: 0;
    background: var(--color-bg-1);
    z-index: 100;   
    border: 1px solid var(--color-dark-Ex);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .Logo{
    width: 60px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a{
    color: var(--color-dark);
    font-size: 16px;
    text-transform: uppercase;
}

.nav-links .active{
    color: var(--color-primary);
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-right a{
    color: var(--color-dark);
    font-size: 17px;
}

.nav-button{
    display: none;
}

@media(max-width: 1024px){
    .nav-container{
        position: relative;
        height: 100%;
    }

    .nav-container .Logo{
        width: 50px;
    }

    .nav-links{
        flex-direction: column;
        gap: 0;
        width: 20rem;
        transition: var(--transition);
        top: 90px;
        right: 0;
        position: fixed;
    }
    .nav-links li{
        height: 100%;
        width: 100%;
    }
    .nav-links a{
        display: inline-block;
        background: var(--color-bg-1);
        height: 80px;
        width: 100%;
        display: flex;
        padding-left: 40px;
        align-items: center;
        overflow: hidden;
        box-shadow: -1rem 5rem 5rem rgba(0,0,0,0.4);
    }
    .menu-button{
        display: inline-block;
        color: var(--color-dark);
        font-size: 18px;
    }

    .navLinksShow{
        display: flex;
    }

    .navLinksHide{
        display: none;
    }

}